# Web Scraping and Data Cleaning

This is the beggining of our project. This file is just meant to be a temporary workplace for us to clean our data and later create models for it.

## Web Scraping
In this section we are gathering the data we need by scraping from different websites and tables the information we want like team wages, players values, and teams stats like wins, losses, etc.

In [1]:
# Import all necessary libraries for this project

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://fbref.com/en/comps/Big5/Big-5-European-Leagues-Stats"

tables = pd.read_html(url)

# View how many tables were found
print(f"Found {len(tables)} tables.")

# Check which table is the one you're interested in
for i, table in enumerate(tables):
    print(f"Table {i}:")
    print(table.head())

Found 1 tables.
Table 0:
   Rk          Squad  Country  LgRk  MP   W  D  L   GF  GA  GD  Pts  Pts/MP  \
0   1      Paris S-G   fr FRA     1  34  26  6  2   92  35  57   84    2.47
1   2  Bayern Munich   de GER     1  34  25  7  2   99  32  67   82    2.41
2   3      Barcelona   es ESP     1  38  28  4  6  102  39  63   88    2.32
3   4      Liverpool  eng ENG     1  38  25  9  4   86  41  45   84    2.21
4   5    Real Madrid   es ESP     2  38  26  6  6   78  38  40   84    2.21

     xG   xGA   xGD  xGD/90  Attendance          Top Team Scorer  \
0  88.9  31.2  57.7    1.70       47413     Ousmane Dembélé - 21
1  81.7  25.5  56.2    1.65       75000          Harry Kane - 26
2  91.5  41.9  49.5    1.30       45953  Robert Lewandowski - 27
3  82.2  38.6  43.6    1.15       60324       Mohamed Salah - 29
4  75.3  42.8  32.5    0.86       69807       Kylian Mbappé - 31

             Goalkeeper
0  Gianluigi Donnarumma
1          Manuel Neuer
2            Iñaki Peña
3               Alisson
4      Thibaut Courtois

# Whole dataset of top teams in Europe

This dataset below are all the top teams in Europe that we will be using in our project. From here, I will make two separate datasets frmo the top 8 teams of the premier league, and the top 8 teams from Ligue 1.

In [3]:
df = tables[0]

In [4]:
df = df.drop(columns="Rk")
df.head()

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,Paris S-G,fr FRA,1,34,26,6,2,92,35,57,84,2.47,88.9,31.2,57.7,1.70,47413,Ousmane Dembélé - 21,Gianluigi Donnarumma
1,Bayern Munich,de GER,1,34,25,7,2,99,32,67,82,2.41,81.7,25.5,56.2,1.65,75000,Harry Kane - 26,Manuel Neuer
2,Barcelona,es ESP,1,38,28,4,6,102,39,63,88,2.32,91.5,41.9,49.5,1.30,45953,Robert Lewandowski - 27,Iñaki Peña
3,Liverpool,eng ENG,1,38,25,9,4,86,41,45,84,2.21,82.2,38.6,43.6,1.15,60324,Mohamed Salah - 29,Alisson
4,Real Madrid,es ESP,2,38,26,6,6,78,38,40,84,2.21,75.3,42.8,32.5,0.86,69807,Kylian Mbappé - 31,Thibaut Courtois

# Premier League Dataset

This is where we start ti make the premier league dataset, mainly cleaning the data and keeping what stats we want to use.

In [7]:
premier_league_df = df[df["Country"] == "eng ENG"].reset_index(drop=True)
premier_league_df.head()

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,Liverpool,eng ENG,1,38,25,9,4,86,41,45,84,2.21,82.2,38.6,43.6,1.15,60324,Mohamed Salah - 29,Alisson
1,Arsenal,eng ENG,2,38,20,14,4,69,34,35,74,1.95,59.9,34.4,25.5,0.67,60251,Kai Havertz - 9,David Raya
2,Manchester City,eng ENG,3,38,21,8,9,72,44,28,71,1.87,68.1,47.7,20.4,0.54,52756,Erling Haaland - 22,Ederson
3,Chelsea,eng ENG,4,38,20,9,9,64,43,21,69,1.82,67.8,47.3,20.5,0.54,39672,Cole Palmer - 15,Robert Sánchez
4,Newcastle Utd,eng ENG,5,38,20,6,12,68,47,21,66,1.74,63.8,45.5,18.3,0.48,52187,Alexander Isak - 23,Nick Pope

In [10]:
premier_league_df.to_csv("full-premier-dataset.csv")

# Ligue 1 Dataset

This is where we make our french league dataset which includes data cleaning our dataset.

In [8]:
ligue_1_dataset = df[df["Country"] == "fr FRA"].reset_index(drop=True)

ligue_1_dataset.head()

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,Paris S-G,fr FRA,1,34,26,6,2,92,35,57,84,2.47,88.9,31.2,57.7,1.70,47413,Ousmane Dembélé - 21,Gianluigi Donnarumma
1,Marseille,fr FRA,2,34,20,5,9,74,47,27,65,1.91,63.8,45.2,18.6,0.55,63507,Mason Greenwood - 21,Gerónimo Rulli
2,Monaco,fr FRA,3,34,18,7,9,63,41,22,61,1.79,72.8,34.8,38.0,1.12,12164,Mika Biereth - 13,Philipp Köhn
3,Nice,fr FRA,4,34,17,9,8,66,41,25,60,1.76,61.6,40.2,21.4,0.63,24299,Evann Guessand - 12,Marcin Bułka
4,Lille,fr FRA,5,34,17,9,8,52,36,16,60,1.76,54.7,42.5,12.2,0.36,42417,Jonathan David - 16,Lucas Chevalier

In [9]:
ligue_1_dataset = ligue_1_dataset[0:8]

ligue_1_dataset

,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,Paris S-G,fr FRA,1,34,26,6,2,92,35,57,84,2.47,88.9,31.2,57.7,1.70,47413,Ousmane Dembélé - 21,Gianluigi Donnarumma
1,Marseille,fr FRA,2,34,20,5,9,74,47,27,65,1.91,63.8,45.2,18.6,0.55,63507,Mason Greenwood - 21,Gerónimo Rulli
2,Monaco,fr FRA,3,34,18,7,9,63,41,22,61,1.79,72.8,34.8,38.0,1.12,12164,Mika Biereth - 13,Philipp Köhn
3,Nice,fr FRA,4,34,17,9,8,66,41,25,60,1.76,61.6,40.2,21.4,0.63,24299,Evann Guessand - 12,Marcin Bułka
4,Lille,fr FRA,5,34,17,9,8,52,36,16,60,1.76,54.7,42.5,12.2,0.36,42417,Jonathan David - 16,Lucas Chevalier
5,Lyon,fr FRA,6,34,17,6,11,65,46,19,57,1.68,60.3,45.7,14.6,0.43,51191,Alexandre Lacazette - 15,Lucas Perri
6,Strasbourg,fr FRA,7,34,16,9,9,56,44,12,57,1.68,49.3,56.1,-6.9,-0.20,19378,Emanuel Emegha - 14,Đorđe Petrović
7,Lens,fr FRA,8,34,15,7,12,42,39,3,52,1.53,51.8,45.3,6.5,0.19,37971,Neil El Aynaoui - 8,Brice Samba

In [10]:
premier_league_df.to_csv("premier_league_data.csv", index=False)

In [11]:
ligue_1_dataset.to_csv("ligue_1_data.csv", index=False)

In [12]:
url = "https://fbref.com/en/comps/9/Premier-League-Stats"

tables = pd.read_html(url)

# View how many tables were found
print(f"Found {len(tables)} tables.")

# Check which table is the one you're interested in
for i, table in enumerate(tables):
    print(f"Table {i}:")
    print(table.head())

Found 24 tables.
Table 0:
   Rk            Squad  MP   W   D   L  GF  GA  GD  Pts  Pts/MP    xG   xGA  \
0   1        Liverpool  38  25   9   4  86  41  45   84    2.21  82.2  38.6
1   2          Arsenal  38  20  14   4  69  34  35   74    1.95  59.9  34.4
2   3  Manchester City  38  21   8   9  72  44  28   71    1.87  68.1  47.7
3   4          Chelsea  38  20   9   9  64  43  21   69    1.82  67.8  47.3
4   5    Newcastle Utd  38  20   6  12  68  47  21   66    1.74  63.8  45.5

    xGD  xGD/90  Attendance      Top Team Scorer      Goalkeeper  \
0  43.6    1.15       60324   Mohamed Salah - 29         Alisson
1  25.5    0.67       60251      Kai Havertz - 9      David Raya
2  20.4    0.54       52756  Erling Haaland - 22         Ederson
3  20.5    0.54       39672     Cole Palmer - 15  Robert Sánchez
4  18.3    0.48       52187  Alexander Isak - 23       Nick Pope

                                  Notes
0  → Champions League via league finish
1  → Champions League via league finish
2  → Champions League via league finish
3  → Champions League via league finish
4     → Europa League via league finish
Table 1:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Home                            ...  \
                  Rk              Squad   MP   W  D  L  GF  GA  GD Pts  ...
0                  1          Liverpool   19  14  4  1  42  16  26  46  ...
1                  2            Arsenal   19  11  6  2  35  17  18  39  ...
2                  3    Manchester City   19  13  3  3  43  23  20  42  ...
3                  4            Chelsea   19  12  5  2  35  18  17  41  ...
4                  5      Newcastle Utd   19  12  2  5  40  20  20  38  ...

  Away
     L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0    3  44  25  19  38   2.00  41.7  20.1  21.6   1.14
1    2  34  17  17  35   1.84  30.1  20.1  10.0   0.52
2    6  29  21   8  29   1.53  30.7  25.2   5.5   0.29
3    7  29  25   4  28   1.47  30.6  28.3   2.3   0.12
4    7  28  27   1  28   1.47  30.8  23.0   7.8   0.41

[5 rows x 28 columns]
Table 2:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0            Arsenal                 25               25.8               56.9
1        Aston Villa                 28               27.0               50.5
2        Bournemouth                 29               25.1               48.5
3          Brentford                 28               25.8               47.9
4           Brighton                 32               24.8               52.3

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          67  55  ...           1.76  1.45
1           38    418  3420  38.0          56  45  ...           1.47  1.18
2           38    418  3420  38.0          57  41  ...           1.50  1.08
3           38    418  3420  38.0          65  44  ...           1.71  1.16
4           38    418  3420  38.0          64  41  ...           1.68  1.08


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  3.21  1.71   3.16  1.58  1.19   2.77  1.54     2.73
1  2.66  1.39   2.58  1.48  1.10   2.57  1.35     2.45
2  2.58  1.34   2.42  1.68  1.15   2.84  1.54     2.69
3  2.87  1.58   2.74  1.55  1.12   2.67  1.43     2.55
4  2.76  1.50   2.58  1.54  1.06   2.61  1.40     2.47

[5 rows x 32 columns]
Table 3:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0         vs Arsenal                 25               26.1               43.1
1     vs Aston Villa                 28               26.3               49.5
2     vs Bournemouth                 29               26.4               51.5
3       vs Brentford                 28               26.4               52.1
4        vs Brighton                 32               26.2               47.7

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          34  24  ...           0.89  0.63
1           38    418  3420  38.0          51  36  ...           1.34  0.95
2           38    418  3420  38.0          46  36  ...           1.21  0.95
3           38    418  3420  38.0          54  42  ...           1.42  1.11
4           38    418  3420  38.0          57  39  ...           1.50  1.03


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  1.53  0.82   1.45  0.91  0.65   1.55  0.84     1.49
1  2.29  1.29   2.24  1.32  0.96   2.28  1.26     2.22
2  2.16  1.11   2.05  1.28  0.96   2.24  1.19     2.15
3  2.53  1.39   2.50  1.46  1.14   2.60  1.44     2.58
4  2.53  1.26   2.29  1.44  1.09   2.52  1.25     2.34

[5 rows x 32 columns]
Table 4:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
               Squad               # Pl           MP Starts   Min   90s
0            Arsenal                  1           38     38  3420  38.0
1        Aston Villa                  2           38     38  3420  38.0
2        Bournemouth                  3           38     38  3420  38.0
3          Brentford                  2           38     38  3420  38.0
4           Brighton                  2           38     38  3420  38.0

  Performance                   ...                       Penalty Kicks      \
           GA  GA90 SoTA Saves  ...   W   D   L  CS   CS%         PKatt PKA
0          34  0.89  120    86  ...  20  14   4  13  34.2             3   3
1          51  1.34  156   104  ...  19   9  10   9  23.7             3   2
2          46  1.21  172   126  ...  15  11  12   9  23.7             4   4
3          57  1.50  207   153  ...  16   8  14   8  21.1             1   1
4          59  1.55  147    90  ...  16  13   9   8  21.1             9   9


  PKsv PKm Save%
0    0   0   0.0
1    1   0  33.3
2    0   0   0.0
3    0   0   0.0
4    0   0   0.0

[5 rows x 21 columns]
Table 5:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
               Squad               # Pl           MP Starts   Min   90s
0         vs Arsenal                  1           38     38  3420  38.0
1     vs Aston Villa                  2           38     38  3420  38.0
2     vs Bournemouth                  3           38     38  3420  38.0
3       vs Brentford                  2           38     38  3420  38.0
4        vs Brighton                  2           38     38  3420  38.0

  Performance                   ...                      Penalty Kicks      \
           GA  GA90 SoTA Saves  ...   W   D   L CS   CS%         PKatt PKA
0          69  1.82  180   113  ...   4  14  20  5  13.2             2   2
1          58  1.53  165   106  ...  10   9  19  7  18.4             6   3
2          58  1.53  199   141  ...  12  11  15  8  21.1             7   6
3          66  1.74  179   113  ...  14   8  16  8  21.1             6   5
4          66  1.74  190   126  ...   9  13  16  5  13.2             7   7


  PKsv PKm Save%
0    0   0   0.0
1    3   0  50.0
2    1   0  14.3
3    1   0  16.7
4    0   0   0.0

[5 rows x 21 columns]
Table 6:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Goals               \
               Squad               # Pl                90s    GA PKA FK CK OG
0            Arsenal                  1               38.0    34   3  2  8  0
1        Aston Villa                  2               38.0    51   2  1  2  0
2        Bournemouth                  3               38.0    46   4  1  5  0
3          Brentford                  2               38.0    57   1  0  2  3
4           Brighton                  2               38.0    59   9  1  4  2

  Expected           ... Passes Goal Kicks                Crosses            \
      PSxG PSxG/SoT  ... AvgLen        Att Launch% AvgLen     Opp Stp  Stp%
0     35.1     0.28  ...   29.9        200    50.0   38.6     402  53  13.2
1     52.1     0.32  ...   30.4        299    41.8   35.1     538  59  11.0
2     54.8     0.30  ...   36.8        266    47.7   39.4     460  25   5.4
3     53.3     0.26  ...   34.4        327    51.7   41.3     597  48   8.0
4     51.5     0.30  ...   25.1        243    23.5   23.1     436  29   6.7

  Sweeper
     #OPA #OPA/90 AvgDist
0      66    1.74    17.2
1      35    0.92    13.7
2      62    1.63    12.6
3      34    0.89    11.5
4      50    1.32    15.4

[5 rows x 28 columns]
Table 7:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Goals             \
               Squad               # Pl                90s    GA PKA FK  CK
0         vs Arsenal                  1               38.0    69   2  0  12
1     vs Aston Villa                  2               38.0    58   3  0   9
2     vs Bournemouth                  3               38.0    58   6  1   5
3       vs Brentford                  2               38.0    66   5  0   5
4        vs Brighton                  2               38.0    66   7  2   6

     Expected           ... Passes Goal Kicks                Crosses           \
  OG     PSxG PSxG/SoT  ... AvgLen        Att Launch% AvgLen     Opp Stp Stp%
0  2     61.5     0.35  ...   37.7        309    50.8   39.1     602  33  5.5
1  2     57.7     0.33  ...   32.4        262    42.0   34.2     462  40  8.7
2  1     65.0     0.30  ...   36.5        343    48.1   37.5     637  47  7.4
3  1     67.3     0.36  ...   35.7        252    45.6   36.6     534  44  8.2
4  2     67.8     0.33  ...   33.4        298    44.6   36.2     541  29  5.4

  Sweeper
     #OPA #OPA/90 AvgDist
0      33    0.87    11.8
1      44    1.16    13.1
2      50    1.32    13.7
3      67    1.76    15.6
4      64    1.68    15.8

[5 rows x 28 columns]
Table 8:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard            \
               Squad               # Pl                90s      Gls   Sh  SoT
0            Arsenal                 25               38.0       67  544  178
1        Aston Villa                 28               38.0       56  478  159
2        Bournemouth                 29               38.0       57  574  192
3          Brentford                 28               38.0       65  434  173
4           Brighton                 32               38.0       64  526  183

                                                     Expected                \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist  FK PK PKatt       xG  npxG npxG/Sh
0  32.7  14.32   4.68  0.12  0.37  15.1  10  2     2     59.9  58.4    0.11
1  33.3  12.58   4.18  0.11  0.33  16.3  12  3     6     56.1  51.3    0.11
2  33.4  15.11   5.05  0.09  0.27  16.7  10  6     7     64.0  58.5    0.10
3  39.9  11.42   4.55  0.14  0.35  14.9  10  5     6     59.0  54.4    0.13
4  34.8  13.84   4.82  0.11  0.31  17.2  25  7     7     58.7  53.3    0.10


  G-xG np:G-xG
0  7.1     6.6
1 -0.1     1.7
2 -7.0    -7.5
3  6.0     5.6
4  5.3     3.7
Table 9:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard            \
               Squad               # Pl                90s      Gls   Sh  SoT
0         vs Arsenal                 25               38.0       34  359  117
1     vs Aston Villa                 28               38.0       51  460  153
2     vs Bournemouth                 29               38.0       46  483  168
3       vs Brentford                 28               38.0       54  646  206
4        vs Brighton                 32               38.0       57  418  138

                                                     Expected                \
   SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist  FK PK PKatt       xG  npxG npxG/Sh
0  32.6   9.45   3.08  0.09  0.26  17.8  13  3     3     34.4  32.0    0.09
1  33.3  12.11   4.03  0.11  0.32  16.7  10  2     3     50.1  47.8    0.11
2  34.8  12.71   4.42  0.09  0.25  17.1  14  4     4     48.5  45.3    0.10
3  31.9  17.00   5.42  0.08  0.26  17.5  14  1     1     55.4  54.7    0.09
4  33.0  11.00   3.63  0.11  0.35  15.6   8  9     9     54.6  47.7    0.12


  G-xG np:G-xG
0 -0.4    -1.0
1  0.9     1.2
2 -2.5    -3.3
3 -1.4    -1.7
4  2.4     0.3
Table 10:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  Total         \
               Squad               # Pl                90s    Cmp    Att
0            Arsenal                 25               38.0  17066  20241
1        Aston Villa                 28               38.0  14701  17797
2        Bournemouth                 29               38.0  12977  16900
3          Brentford                 28               38.0  13358  17100
4           Brighton                 32               38.0  15820  19188

                        Short        ...  Long Unnamed: 17_level_0  \
   Cmp% TotDist PrgDist   Cmp   Att  ...  Cmp%                 Ast
0  84.3  278808   87055  8591  9363  ...  51.0                  55
1  82.6  252637   88182  6778  7510  ...  52.7                  45
2  76.8  233955   86767  5648  6514  ...  48.4                  41
3  78.1  245539   93263  5849  6739  ...  52.9                  44
4  82.4  268916   90984  7629  8443  ...  54.8                  41

  Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                  xAG       xA A-xAG                  KP                 1/3
0                45.3     45.7   9.7                 428                1397
1                41.7     36.9   3.3                 358                1137
2                43.8     36.5  -2.8                 437                1242
3                42.4     38.1   1.6                 330                1104
4                40.4     39.1   0.6                 377                1189

  Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                  PPA               CrsPA                PrgP
0                 437                  75                1826
1                 319                  56                1344
2                 339                 106                1489
3                 325                  91                1356
4                 339                  87                1539

[5 rows x 26 columns]
Table 11:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  Total         \
               Squad               # Pl                90s    Cmp    Att
0         vs Arsenal                 25               38.0  12192  15255
1     vs Aston Villa                 28               38.0  14438  17377
2     vs Bournemouth                 29               38.0  14072  18037
3       vs Brentford                 28               38.0  15047  18708
4        vs Brighton                 32               38.0  14240  17647

                        Short        ...  Long Unnamed: 17_level_0  \
   Cmp% TotDist PrgDist   Cmp   Att  ...  Cmp%                 Ast
0  79.9  214595   73593  5573  6249  ...  47.7                  24
1  83.1  249107   83992  6870  7487  ...  55.9                  36
2  78.0  239562   94618  6832  7804  ...  47.2                  36
3  80.4  255472   89605  7373  8191  ...  48.6                  42
4  80.7  253402   87854  6260  6967  ...  49.3                  39

  Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                  xAG       xA A-xAG                  KP                 1/3
0                24.5     24.6  -0.5                 263                 905
1                36.4     35.8  -0.4                 336                1189
2                36.5     36.3  -0.5                 369                1012
3                43.3     41.8  -1.3                 501                1279
4                41.3     30.2  -2.3                 333                1004

  Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                  PPA               CrsPA                PrgP
0                 197                  60                 938
1                 295                  81                1315
2                 334                  66                1295
3                 430                  92                1562
4                 248                  44                1209

[5 rows x 26 columns]
Table 12:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                90s                Att
0            Arsenal                 25               38.0              20241
1        Aston Villa                 28               38.0              17797
2        Bournemouth                 29               38.0              16900
3          Brentford                 28               38.0              17100
4           Brighton                 32               38.0              19188

  Pass Types                                   Corner Kicks         Outcomes  \
        Live  Dead   FK  TB  Sw  Crs   TI   CK           In Out Str      Cmp
0      18608  1553  432  80  74  766  598  251          211   3   2    17066
1      16044  1698  583  95  58  604  497  230          148  24   1    14701
2      15136  1694  430  59  78  832  686  228          166  18   4    12977
3      15453  1584  386  69  71  674  602  174          139   2   0    13358
4      17527  1615  482  77  76  704  605  188          107  48   7    15820


  Off Blocks
0  80    278
1  55    346
2  70    314
3  63    288
4  46    310
Table 13:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                90s                Att
0         vs Arsenal                 25               38.0              15255
1     vs Aston Villa                 28               38.0              17377
2     vs Bournemouth                 29               38.0              18037
3       vs Brentford                 28               38.0              18708
4        vs Brighton                 32               38.0              17647

  Pass Types                                   Corner Kicks         Outcomes  \
        Live  Dead   FK  TB  Sw  Crs   TI   CK           In Out Str      Cmp
0      13697  1520  461  47  74  534  526  118           70  25   2    12192
1      15839  1445  441  66  96  683  474  172          112  30   5    14438
2      16003  1992  569  68  59  601  800  184          103  44   4    14072
3      17074  1576  363  63  74  793  615  242          131  61   4    15047
4      15881  1678  460  53  82  543  634  182          130  23   4    14240


  Off Blocks
0  38    251
1  93    276
2  42    372
3  58    331
4  88    334
Table 14:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   SCA         \
               Squad               # Pl                90s   SCA  SCA90
0            Arsenal                 25               38.0   969  25.50
1        Aston Villa                 28               38.0   849  22.34
2        Bournemouth                 29               38.0  1012  26.63
3          Brentford                 28               38.0   780  20.53
4           Brighton                 32               38.0   933  24.55

  SCA Types                           GCA       GCA Types                   \
   PassLive PassDead  TO  Sh Fld Def  GCA GCA90  PassLive PassDead  TO  Sh
0       726       82  52  64  34  11  119  3.13        86       11   6  11
1       602       85  51  58  39  14  102  2.68        80        7   3   6
2       767       68  44  70  42  21   93  2.45        62        6   5   8
3       569       74  40  51  35  11  113  2.97        78       11   5   9
4       685       70  56  53  55  14  113  2.97        78        7  10   6


  Fld Def
0   4   1
1   4   2
2  10   2
3   9   1
4  10   2
Table 15:
  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   SCA         \
               Squad               # Pl                90s   SCA  SCA90
0         vs Arsenal                 25               38.0   646  17.00
1     vs Aston Villa                 28               38.0   818  21.53

In [13]:
df = tables[2]

In [14]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0            Arsenal                 25               25.8               56.9
1        Aston Villa                 28               27.0               50.5
2        Bournemouth                 29               25.1               48.5
3          Brentford                 28               25.8               47.9
4           Brighton                 32               24.8               52.3

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          67  55  ...           1.76  1.45
1           38    418  3420  38.0          56  45  ...           1.47  1.18
2           38    418  3420  38.0          57  41  ...           1.50  1.08
3           38    418  3420  38.0          65  44  ...           1.71  1.16
4           38    418  3420  38.0          64  41  ...           1.68  1.08


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  3.21  1.71   3.16  1.58  1.19   2.77  1.54     2.73
1  2.66  1.39   2.58  1.48  1.10   2.57  1.35     2.45
2  2.58  1.34   2.42  1.68  1.15   2.84  1.54     2.69
3  2.87  1.58   2.74  1.55  1.12   2.67  1.43     2.55
4  2.76  1.50   2.58  1.54  1.06   2.61  1.40     2.47

[5 rows x 32 columns]

In [15]:
df.columns

MultiIndex([('Unnamed: 0_level_0',    'Squad'),
            ('Unnamed: 1_level_0',     '# Pl'),
            ('Unnamed: 2_level_0',      'Age'),
            ('Unnamed: 3_level_0',     'Poss'),
            (      'Playing Time',       'MP'),
            (      'Playing Time',   'Starts'),
            (      'Playing Time',      'Min'),
            (      'Playing Time',      '90s'),
            (       'Performance',      'Gls'),
            (       'Performance',      'Ast'),
            (       'Performance',      'G+A'),
            (       'Performance',     'G-PK'),
            (       'Performance',       'PK'),
            (       'Performance',    'PKatt'),
            (       'Performance',     'CrdY'),
            (       'Performance',     'CrdR'),
            (          'Expected',       'xG'),
            (          'Expected',     'npxG'),
            (          'Expected',      'xAG'),
            (          'Expected', 'npxG+xAG'),
            (       'Progression',     'PrgC'),
            (       'Progression',     'PrgP'),
            (    'Per 90 Minutes',      'Gls'),
            (    'Per 90 Minutes',      'Ast'),
            (    'Per 90 Minutes',      'G+A'),
            (    'Per 90 Minutes',     'G-PK'),
            (    'Per 90 Minutes',   'G+A-PK'),
            (    'Per 90 Minutes',       'xG'),
            (    'Per 90 Minutes',      'xAG'),
            (    'Per 90 Minutes',   'xG+xAG'),
            (    'Per 90 Minutes',     'npxG'),
            (    'Per 90 Minutes', 'npxG+xAG')],
           )

In [16]:
df.to_csv('your_file_name.csv', index=False)